body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td a{
    margin:0;
    padding:0;
}
div{
    overflow: hidden;
}
a{
    text-decoration: none;
}
body{
    display: block;
    margin: 0;
    background-color: #f5f5f5;
}
.nav{
    height: 8%;
    width: 100%;
    background-color: #e4efe2;
}
.nav .title{
    height: 100%;
    width: 15%;
    color: #319840;
}
.nav h3{
    display: block;
    width: 100%;
    height: 100%;
    margin-top: 10%;
    text-align: center;
    line-height: 100%;
    vertical-align: center;
}

.manage{
    float: left;
    width: 18%;
    height: 204%;
    background-color: white;
    border-right: 2px  solid #e1e1e1;
    padding-top: 3%;
}
.manage .n1{
    width: 100%;
    height: 6%;

}
.n1 a{
    display: block;
    width: 100%;
    height: 100%;
}

.n1 a{
    cursor: pointer;
}
/*.n1:hover{*/
/*    background-color: red;*/
/*}*/
.n1 h3{
    width: 100%;
    height: 100%;
    display: block;
    text-align: center;
    line-height: 300%;
}
.show{
    float: left;
    width: 81.8%;
    height: 210%;
    /*background-color: black;*/
}

.show .dsearch{
    height: 4%;
    width: 100%;
    background-color: white;
    /*padding-top: 3%;*/
}
.dsearch .note{
    margin-top: 1.5%;
    float: left;
    height: 80%;
    width: 10%;
    margin-left: 20%;
    color: #3d9f4b;
    text-align: center;
    line-height: 250%;
}
.search{
    float: left;
    margin-left: 10%;
    margin-top: 1.5%;
    height: 80%;
    width: 30%;
    display: flex;
    overflow: hidden;
    /*border: 1px solid red;*/
}
.search input{
    float: left;//左浮动
    flex: 2;
    height: 60%;
    outline: none;
    border: 1px solid #f0f0f0;
    width: 80%;
    /*box-sizing: border-box;//盒子模型，怪异IE盒子模型，width=content+border*2+padding*2*/
    padding-left: 3%;
}
.search button{
    float: left;
    flex: 1;
    height: 60%;
    width: 20%;
    background-color: #C0C0C0;
    color: white;
    border-style: none;
    outline: none;
}
.search button i{
    font-style: normal;
}
.search button{
    cursor: pointer;
}
.search button:hover{
    background-color: #f0f0f0;
    color: #C0C0C0;
}

.show .filmMessage{
    height: 15%;
    width: 80%;
    /*background-color: black;*/
    margin-left: 10%;
    overflow: scroll;
}
.show .cinemaMessage{
    height: 15%;
    width: 80%;
    /*background-color: black;*/
    margin-left: 10%;
    overflow: scroll;
}
.show .hallMessage{
    height: 15%;
    width: 80%;
    /*background-color: black;*/
    margin-left: 10%;
    overflow: scroll;
}

.men{
    width: 80%;
    height: 2.5%;
    margin-left: 10%;
    margin-top: 1%;
    background-color: white;
    border-bottom: 2px solid #ced9bf;
    color: #6c6d74;
    line-height: 450%;
}

.men .n1{
    float: left;
    width: 20%;
    height: 100%;
    border-right: 1px solid #e1e1e1;
    text-align: center;

}
.men .n2{
    float: left;
    width: 20%;
    height: 100%;
    border-right: 1px solid #e1e1e1;
    text-align: center;
    /*line-height: 560%;*/
}

.mess{
    width: 100%;
    height: 20%;
}

.mess .n1{
    float: left;
    width: 20%;
    height: 100%;
    text-align: left;
    line-height: 560%;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}

.myButton {
    box-shadow:inset 0px 0px 14px -3px #f2fadc;
    background:linear-gradient(to bottom, #e4efe2 5%, #9ba892 100%);
    background-color:#e4efe2;
    border-radius:6px;
    border:1px solid #b2b8ad;
    display:inline-block;
    cursor:pointer;
    color:#757d6f;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ced9bf;
}
.myButton:hover {
    background:linear-gradient(to bottom, #9ba892 5%, #dbe6c4 100%);
    background-color:#9ba892;
}
.myButton:active {
    position:relative;
    top:1px;
}
.show .inputMessage{
    height: 15%;
    width: 80%;
    /*background-color: black;*/
    margin-left: 10%;
    margin-top: 5%;
}
.inputMessage .n1{
    display: block;
    width: 10%;
    height: 100%;
    float: left;
    text-align: left;
    margin-left: 20%;
}
.inputMessage .n2{
    display: block;
    width: 50%;
    height: 100%;
    float: left;
}
.inputMessage span{
    display: block;
    width: 100%;
    height: 100%;
}

