body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td a{
    margin:0;
    padding:0;
}
div{
    overflow: hidden;
}
a{
    text-decoration: none;
}
body{
    display: block;
    margin: 0;
    background-color: #f5f5f5;
}
.top{
    overflow: hidden;
    background-color:#e4efe2;
    /**/
    width: 100%;
    height: 6%;
}
.logo{
    overflow: hidden;
    clear: both;
    height: 100%;
    width: 15%;
    vertical-align: center;
}
.logo a{
    background: url(/images/index/logo.png);
    background-size: 100%,100%;
    background-repeat:no-repeat ;
    overflow: hidden;
    display: block;
    line-height: 50%;
    text-align: center;
    width: 80%;
    height: 100%;
    color:rgba(59,145,48,0.7);

}

a{
    cursor: pointer;
}
.nav{
    height: 8%;
    background-color: white;
    width: 100%;
    padding-top:3%;
    border-bottom: 1px solid #f7f7f7;
}
.nav .webName{
    margin-top: 0.5%;
    float: left;
    height: 80%;
    width: 10%;
    line-height:100%;
    margin-left: 3%;
    text-align: right;
    color: #3d9f4b;
    font-weight: bold;
    font-size:x-large;
}
.search{
    float: left;
    margin-left: 1%;
    height: 80%;
    width: 20%;
    display: flex;
    overflow: hidden;
    /*border: 1px solid red;*/
}
.search input{
    float: left;//左浮动
flex: 2;
    height: 60%;
    outline: none;
    border: 1px solid #f0f0f0;
    width: 80%;
    /*box-sizing: border-box;//盒子模型，怪异IE盒子模型，width=content+border*2+padding*2*/
    padding-left: 3%;
}
.search button{
    float: left;
    flex: 1;
    height: 60%;
    width: 20%;
    background-color: #C0C0C0;
    color: white;
    border-style: none;
    outline: none;
}
.search button i{
    font-style: normal;
}
.search button{
    cursor: pointer;
}
.search button:hover{
    background-color: #f0f0f0;
    color: #C0C0C0;
}
.nav .nav-links{
    float: left;
    height: 80%;
    width: 40%;
    margin-left: 6%;
    margin-top: 0.7%;
    border-bottom: 5px black;
}

.nav-links ul{
    list-style: none;
    height: 100%;
    width: 100%;
}
.nav-links li{
    display: inline;
    line-height: 100%;
    float:left;
    margin-left: 7%;
}

.nav-links a {
    color: #fff;
    text-decoration: none;

    /*padding: 20px 20px;*/
}

.nav-links a{
    cursor: pointer;
}
.search button:hover{
    background-color: #f0f0f0;
    color: #C0C0C0;
}
.nav .logOrwel{
    height: 80%;
    width: 10%;
    float: left;
    margin-left: 3%;
    /*background-color: blac/k;*/
}

.logOrwel a{
    display: block;
    float: left;
    color: white;
    width: 30%;
    overflow: hidden;
    text-align: center;
    font-size: large;
    margin-top: 3%;
    /*margin-right: 2%;*/

}
.cinema{
    border-left: 2px solid #e1e1e1;
    border-right: 2px solid #e1e1e1;
    width: 60%;
    height: 95%;
    background-color: white;
    margin-left: 20%;
    border-bottom: 2px solid #e1e1e1;
}
.cinema .men{
    margin-left: 5%;
    margin-top: 5%;
    width: 90%;
    height: 4%;
    background-color: #f6f6f6;
    border-bottom: 2px solid #d4d4d4;
    border-top: 2px solid #c20c0c;
    color: #6c6d74;
    line-height: 300%;
}
.men .n1{
    float: left;
    width: 25%;
    height: 100%;
    border-right: 1px solid #d6d6d6;
    background-color: #f6f6f6 ;
    text-align: center;
    /*line-height: 225%;*/
}
.men .n2{
    float: left;
    width: 25%;
    height: 100%;
    border-right: 1px solid #d6d6d6;
    background-color: #f6f6f6;
    text-align: center;
    /*line-height: 225%;*/
}
.men .n3{
    float: left;
    width: 25%;
    height: 100%;
    background-color:#f6f6f6;
    text-align: center;
    border-right: 1px solid #d6d6d6;
    /*line-height: 225%;*/
}
.men .n4{
    float: left;
    width: 25%;
    height: 100%;
    background-color:#f6f6f6;
    text-align: center;
    border-right: 1px solid #d6d6d6;
    /*line-height: 225%;*/
}
.cinema .mess{
    margin-left: 5%;
    width: 90%;
    height: 4%;
    background-color: #f6f6f6;
    color: #6c6d74;
    line-height: 300%;
}
.mess .n1{
    float: left;
    width: 25%;
    height: 100%;
    text-align: left;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;

    /*padding-right: 5px;*/
}
.mess .n2{
    float: left;
    width: 25%;
    height: 100%;
    text-align: left;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    text-align: center;
    /*padding-right: 5px;*/
    /*line-height: 225%;*/
}
.mess .n3{
    float: left;
    width: 25%;
    height: 100%;
    text-align: left;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    text-align: center;
    /*padding-left: 5px;*/
    /*line-height: 225%;*/
}

.mess .n4{
    float: left;
    width: 25%;
    height: 100%;
    text-align: left;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    text-align: center;
    /*padding-left: 5px;*/
    /*line-height: 225%;*/
}
